/* Estilos para la página principal */

/* Contenedor principal */
.container {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
  }
  
  /* Sección de bienvenida */
  .welcome-section {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .subtitle {
    font-size: 2em;
    color: #004d40;
    margin-bottom: 10px;
  }
  
  .intro-text {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
  }
  
  .login-btn:hover {
    background-color: #004d40;
  }
  
  /* Sección de información general */
  .info-section {
    margin-bottom: 40px;
    text-align: center;
  }
  
  .section-title {
    font-size: 1.8em;
    color: #004d40;
    margin-bottom: 20px;
  }
  
  .cards {
    display: flex;
    gap: 20px;
    justify-content: space-around;
  }
  
  .card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
  }
  
  .card-title {
    font-size: 1.4em;
    color: #00695C;
    margin-bottom: 10px;
  }
  
  /* Sección de contacto */
  .contact-section {
    text-align: center;
  }
  
  .contact-btn {
    background-color: #004d40;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
  }
  
  .contact-btn:hover {
    background-color: #00796B;
  }
  